Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

# Objectives:
* Create a Jupyter Notebook
* List Popular Languages for data science
* List Commonly used Libraries for data science
* List some of the data Science tools
* Perform Arithmetic Operations

Some of the popular languages that Data Scientists use are:
1. Python
2. Julia
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Matplot
2. Pandas
3. Numpy

| Data Science Tools |
| ------------------ |
| Jupyter Notebook |
| R Studio |
| PyTorch |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This 
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Poojaa